name: Build

on: [push]

env:
  CARGO_TERM_COLOR: always

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
        with:
          submodules: true

      - run: rustup component add clippy rustfmt
      - run: cargo fmt --verbose --all -- --check
      - run: cargo clippy --verbose --all -- -D warnings

  build:
    strategy:
      fail-fast: false
      matrix:
        os:
          - macOS-latest
          - ubuntu-latest

    name: Build - ${{ matrix.os }}
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v6

      - run: sudo apt-get install zsh
        if: ${{ matrix.os == 'ubuntu-latest' }}

      - run: cargo build --verbose --all --all-targets --all-features
      - run: cargo test --verbose --all --all-targets --all-features

  release-build:
    strategy:
      fail-fast: false
      matrix:
        platform:
          - target: x86_64-apple-darwin
            os: macOS-latest
          - target: aarch64-apple-darwin
            os: macOS-latest
          - target: x86_64-unknown-linux-gnu
            os: ubuntu-latest
          - target: aarch64-unknown-linux-gnu
            os: ubuntu-latest
          - target: x86_64-pc-windows-gnu
            os: ubuntu-latest

    name: Release build - ${{ matrix.platform.target }}
    runs-on: ${{ matrix.platform.os }}

    steps:
      - uses: actions/checkout@v6
        with:
          submodules: true
          fetch-depth: 0

      - uses: dtolnay/rust-toolchain@stable
        with:
          targets: ${{ matrix.platform.target }}

      - uses: houseabsolute/actions-rust-cross@v1
        with:
          command: build
          target: ${{ matrix.platform.target }}
          args: "--locked --release"
          strip: true

      - name: Archive an executable
        id: asset
        run: |
          EXE=
          ARCHIVE=.tar.gz
          if ${{ contains(matrix.platform.target, 'pc-windows') }}; then
            EXE=.exe
            ARCHIVE=.zip
          fi

          NAME="${GITHUB_REPOSITORY#*/}"
          EXECUTABLE="${NAME}${EXE}"
          ASSET="${NAME}${ARCHIVE}"
          mv "./target/${{ matrix.platform.target }}/release/${EXECUTABLE}" "./${EXECUTABLE}"

          if [[ "${ARCHIVE}" = ".tar.gz" ]]; then
            tar czfv "./${ASSET}" "${EXECUTABLE}"
          else
            zip "./${ASSET}" "${EXECUTABLE}"
          fi
          echo "asset=${ASSET}" >>$GITHUB_OUTPUT
        shell: bash

      - name: Upload artifact
        uses: actions/upload-artifact@v6
        with:
          name: artifact-${{ matrix.platform.target }}
          path: ${{ steps.asset.outputs.asset }}

  release:
    name: Release
    runs-on: ubuntu-latest
    needs: [lint, build, release-build]
    if: startsWith(github.ref, 'refs/tags/')

    steps:
      - name: Checkout tap
        uses: actions/checkout@v6
        with:
          repository: "Ryooooooga/homebrew-tap"
          token: ${{ secrets.GH_ACCESS_TOKEN }}

      - name: Download artifacts
        uses: actions/download-artifact@v7

      - name: Rename assets
        id: asset
        run: |
          NAME=${GITHUB_REPOSITORY#*/}
          TAG=${GITHUB_REF#refs/tags/}

          mv "artifact-x86_64-apple-darwin/${NAME}.tar.gz" "./${NAME}-${TAG}-x86_64-apple-darwin.tar.gz"
          mv "artifact-aarch64-apple-darwin/${NAME}.tar.gz" "./${NAME}-${TAG}-aarch64-apple-darwin.tar.gz"
          mv "artifact-x86_64-unknown-linux-gnu/${NAME}.tar.gz" "./${NAME}-${TAG}-x86_64-unknown-linux-gnu.tar.gz"
          mv "artifact-aarch64-unknown-linux-gnu/${NAME}.tar.gz" "./${NAME}-${TAG}-aarch64-unknown-linux-gnu.tar.gz"
          mv "artifact-x86_64-pc-windows-gnu/${NAME}.zip" "./${NAME}-${TAG}-x86_64-pc-windows-gnu.zip"

          echo "asset-x86_64-apple-darwin=${NAME}-${TAG}-x86_64-apple-darwin.tar.gz" >>$GITHUB_OUTPUT
          echo "asset-aarch64-apple-darwin=${NAME}-${TAG}-aarch64-apple-darwin.tar.gz" >>$GITHUB_OUTPUT
          echo "asset-x86_64-unknown-linux-gnu=${NAME}-${TAG}-x86_64-unknown-linux-gnu.tar.gz" >>$GITHUB_OUTPUT
          echo "asset-aarch64-unknown-linux-gnu=${NAME}-${TAG}-aarch64-unknown-linux-gnu.tar.gz" >>$GITHUB_OUTPUT
          echo "asset-x86_64-pc-windows-gnu=${NAME}-${TAG}-x86_64-pc-windows-gnu.zip" >>$GITHUB_OUTPUT

      - name: Checksum
        run: >
          sha256sum
          ${{ steps.asset.outputs.asset-x86_64-apple-darwin }}
          ${{ steps.asset.outputs.asset-aarch64-apple-darwin }}
          ${{ steps.asset.outputs.asset-x86_64-unknown-linux-gnu }}
          ${{ steps.asset.outputs.asset-aarch64-unknown-linux-gnu }}
          ${{ steps.asset.outputs.asset-x86_64-pc-windows-gnu }}
          | tee checksum.txt

      - name: Update tap
        run: >
          name="Zabrze"
          bin="zabrze"
          desc="ZSH abbreviation expansion plugin"
          homepage="https://github.com/${{ github.repository }}"
          repo="https://github.com/${{ github.repository }}"
          tag="${GITHUB_REF#refs/tags/}"
          version="${tag#v}"
          x86_64_darwin="${{ steps.asset.outputs.asset-x86_64-apple-darwin }}"
          x86_64_darwin_sha256="$(sha256sum "${{ steps.asset.outputs.asset-x86_64-apple-darwin }}" | awk '{ print $1 }')"
          aarch64_darwin="${{ steps.asset.outputs.asset-aarch64-apple-darwin }}"
          aarch64_darwin_sha256="$(sha256sum "${{ steps.asset.outputs.asset-aarch64-apple-darwin }}" | awk '{ print $1 }')"
          x86_64_linux="${{ steps.asset.outputs.asset-x86_64-unknown-linux-gnu }}"
          x86_64_linux_sha256="$(sha256sum "${{ steps.asset.outputs.asset-x86_64-unknown-linux-gnu }}" | awk '{ print $1 }')"
          aarch64_linux="${{ steps.asset.outputs.asset-aarch64-unknown-linux-gnu }}"
          aarch64_linux_sha256="$(sha256sum "${{ steps.asset.outputs.asset-aarch64-unknown-linux-gnu }}" | awk '{ print $1 }')"
          envsubst <formula.rb.tmpl >zabrze.rb

      - name: Push tap
        uses: dmnemec/copy_file_to_another_repo_action@v1.1.1
        env:
          API_TOKEN_GITHUB: ${{ secrets.GH_ACCESS_TOKEN }}
        with:
          source_file: zabrze.rb
          destination_repo: Ryooooooga/homebrew-tap
          destination_folder: Formula
          user_email: ryooooooga+bot@users.noreply.github.com
          user_name: tap-bot
          commit_message: brew formula update for zabrze

      - name: Upload
        uses: softprops/action-gh-release@v2
        with:
          generate_release_notes: true
          files: |
            checksum.txt
            ${{ steps.asset.outputs.asset-x86_64-apple-darwin }}
            ${{ steps.asset.outputs.asset-aarch64-apple-darwin }}
            ${{ steps.asset.outputs.asset-x86_64-unknown-linux-gnu }}
            ${{ steps.asset.outputs.asset-aarch64-unknown-linux-gnu }}
            ${{ steps.asset.outputs.asset-x86_64-pc-windows-gnu }}

  publish:
    name: Publish
    runs-on: ubuntu-latest
    needs: [release]

    steps:
      - uses: actions/checkout@v6
        with:
          submodules: true

      - uses: katyo/publish-crates@v2
        with:
          registry-token: ${{ secrets.CARGO_REGISTRY_TOKEN }}
